version: "3.9"

services:
  node:
    build:
      context: .
      dockerfile: node/Dockerfile
    command: sh -c "npm install --prefix /app/node && npm start --prefix /app/node"
    ports:
      - "8000:8000"
    volumes:
      - ./node:/app/node
      - ./shared:/app/shared
    environment:
      - NODE_ENV=development

  php:
    build:
      context: .
      dockerfile: php/Dockerfile
    ports:
      - "${PHP_PORT:-8001}:8000"
    volumes:
      - ./php:/app/php
      - ./shared:/app/shared
    environment:
      - PHP_HOST_PORT=${PHP_PORT:-8001}
      - PHP_HOST_ADDR=${PHP_HOST_ADDR:-127.0.0.1}
