services:
  node:
    build:
      context: .
      dockerfile: node/Dockerfile
    command: sh -c "npm install --prefix /app/node && npm start --prefix /app/node"
    ports:
      - "8000:8000"
    volumes:
      - ./node:/app/node
      - ./shared:/app/shared
    environment:
      NODE_ENV: development
      BIND_HOST: "0.0.0.0"
      PUBLIC_HOST: "127.0.0.1"
      PUBLIC_PORT: "8000"
      PORT: "8000"

  php:
    build:
      context: .
      dockerfile: php/Dockerfile
    ports:
      - "8001:8000"
    volumes:
      - ./php:/app/php
      - ./shared:/app/shared
    environment:
      BIND_HOST: "0.0.0.0"
      PUBLIC_HOST: "127.0.0.1"
      PUBLIC_PORT: "8001"
      PORT: "8000"

  ruby:
    build:
      context: .
      dockerfile: ruby/Dockerfile
    command: bundle exec ruby index.rb
    ports:
      - "8002:8002"
    volumes:
      - ./ruby:/app/ruby
      - ./shared:/app/shared
    environment:
      HOST: "0.0.0.0"
      BIND_HOST: "0.0.0.0"
      PUBLIC_HOST: "127.0.0.1"
      PUBLIC_PORT: "8002"
      PORT: "8002"

  python:
    build:
      context: .
      dockerfile: python/Dockerfile
    command: python index.py
    ports:
      - "8003:8003"
    volumes:
      - ./python:/app/python
      - ./shared:/app/shared
    environment:
      HOST: "0.0.0.0"
      BIND_HOST: "0.0.0.0"
      PUBLIC_HOST: "127.0.0.1"
      PUBLIC_PORT: "8003"
      PORT: "8003"
